/*breadscrumb new*/
:root {
    /*    --bc_clr1: #3498db;
        --bc_clr2: #2980b9;
        --bc_clr3: #1abc9c;
        --bc_clr4: #16a085;*/

    /*    --bc_clr1: rgba(75,99,133, .8);
        --bc_clr2: rgba(75,99,133, 1);
        --bc_clr3: rgba(255, 20, 147,0.7);
        --bc_clr4: rgba(255, 20, 147,1);*/

    /*bg*/
    --bc_clr1: var(--main-bg);

    /*border, li bg*/
    --bc_clr2: var(--main-bg);

    /*--bc_clr3: rgba(255, 0, 0,0.7);*/
    --bc_clr4: var(--main-bg);
    --bc_txt: var(--main-white);

}
.icon-home:before {
    /*content: "\f015";*/
}
.icon-beaker:before {
    /*content: "\f0c3";*/
}
.icon-double-angle-right:before {
    /*content: "\f101";*/
}
#breadcrumb {
    list-style: none;
    display: inline-block;
    /*byhunter*/
    padding-left: 0px;
}
#breadcrumb .icon {
    font-size: 14px;
}
#breadcrumb li {
    float: left;
}
#breadcrumb li a {
    /*color: #FFF;*/
    color: var(--bc_txt);
    display: block;
    /*background: #3498db;*/
    /*background: var(--bc_clr1);*/
    background: var(--bc_clr1);
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
    font-weight: bold;
}
#breadcrumb li:nth-child(even) a {
    /*background-color: #2980b9;*/
    background-color: var(--bc_clr2);
}
#breadcrumb li:nth-child(even) a:before {
    /*border-color: #2980b9;*/
    border-color: var(--bc_clr2);
    border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
    /*border-left-color: #2980b9;*/
    border-left-color: var(--bc_clr2);
}
#breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
    border: none;
}
#breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child a:after {
    border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    /*border: 0 solid #3498db;*/
    border: 0 solid var(--bc_clr1);
    border-width: 20px 10px;
    width: 0;
    height: 0;
}
#breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}
#breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    /*border-left-color: #3498db;*/
    border-left-color: var(--bc_clr1);
}
#breadcrumb li a:hover {
    /*background-color: #1abc9c;*/
    /*background-color: var(--bc_clr3);*/
    opacity: 0.6;
}
#breadcrumb li a:hover:before {
    /*border-color: #1abc9c;*/
    /*border-color: var(--bc_clr3);*/
    /*opacity: 0.6;*/
    /*border-left-color: transparent;*/
}
#breadcrumb li a:hover:after {
    /*border-left-color: #1abc9c;*/
    /*border-left-color: var(--bc_clr3);*/
    /*opacity: 0.6;*/
}
#breadcrumb li a:active {
    /*background-color: #16a085;*/
    background-color: var(--bc_clr4)  !important;
}
#breadcrumb li a:active:before {
    /*border-color: #16a085;*/
    border-color: var(--bc_clr4);
    border-left-color: transparent;
}
#breadcrumb li a:active:after {
    /*border-left-color: #16a085;*/
    border-left-color: var(--bc_clr4);
}
/*breadscrumb new*/