@import "v2.default_basic_add.css";
@import "v2.default_basic_modal-ma_info.css";
@import "v2.defult_main.css";
/*@import url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css");*/
/* Roboto regular */
:root {
    --th-red: #ff0000;
    --th-green: #1fd61f;
    --th-blue: #00497f;
}
@font-face {
    font-family: "Roboto";
    src: url("/content/default/_common/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Roboto italic */

@font-face {
    font-family: "Roboto";
    src: url("/content/default/_common/fonts/Roboto/Roboto-Italic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Roboto bold */

@font-face {
    font-family: "Roboto";
    src: url("/content/default/_common/fonts/Roboto/Roboto-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img,
abbr {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

legend {
    color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    /*font-weight: 100;*/
    color: var(--body-txt-c);
}

.wrapper {
    max-width: 3000px;
    margin: 0 auto;
    padding-left: 81px;
    padding-right: 81px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.55%;
    margin-right: -1.55%;
}

.navigation .logos,
.contact .logos {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 1.55%;
    margin-right: 1.55%;
    width: 96.9%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-content: stretch;
}
.logos__header {
    background-color: var(--main-bg);
}

/*.navigation .logos .logos__search,
.contact .logos .logos__search {
    padding-top: 34px;
    padding-right: 90px;
}

.navigation .logos .logos__search form,
.contact .logos .logos__search form {
    position: relative;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 1.55%;
    margin-right: 1.55%;
    width: 96.9%;
    margin: 0 auto;
}

.navigation .logos .logos__search input,
.contact .logos .logos__search input {
    width: 100%;
    height: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 450px;
    border: solid 2px var(--main-green);
    outline: none;
}

.navigation .logos .logos__search .search,
.contact .logos .logos__search .search {
    font-size: 0.875rem;
}

.navigation .logos .logos__search button,
.contact .logos .logos__search button {
    background-color: var(--main-green);
    cursor: pointer;
    padding-top: 12px;
    padding-right: 24px;
    padding-left: 20px;
    padding-bottom: 15px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 91px;
    height: 42px;
}*/
/*.navigation .logos .logos__sheet__headers button,*/
/*.navigation .logos .logos__sheet__headers div.pay,
.navigation .logos .logos__sheet__headers div.clear{
    background-color: var(--main-green);
    cursor: pointer;
    padding-top: 12px;
    padding-right: 24px;
    padding-left: 20px;
    padding-bottom: 15px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10%;
    width: 100%;
    height: 42px;
    vertical-align: middle;
    display: flex;
}*/

/*.navigation .logos .logos__sheet__headers div.clear{
    background-color: var(--main-red);
}*/

.logos__sheet__headers {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.logos__sheet__headers .hersh {
    padding: 27px 12px;
    background-color: var(--main-red);
    margin-right: 6px;
}

.logos__sheet__headers .hersh__2 {
    background-color: var(--main-red);
}

#app,
#app2 {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
    font-size: 1.875rem;
    color: var(--main-bl);
    background-color: var(--main-white);
    opacity: 0.9;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.sidebar__2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
    font-size: 1.875rem;
    color: var(--main-bl);
    background-color: var(--main-white);
    opacity: 0.9;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.sidebar__2 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.875rem;
    color: var(--main-bl);
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.sidebar__2 a:hover {
    color: var(--main-red);
}

.sidebar__2 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.875rem;
    color: var(--main-bl);
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.sidebar ul li div.menu_slider_li_div_clt_th {
    display: flex; 
    flex-direction: row; 
    font-size: 14px; 
    justify-content: center;
}
.sidebar ul li div.menu_slider_li_div_clt_th a {
    text-decoration: none;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    padding: 0;
}
.sidebar ul li div.menu_slider_li_div_clt_th .thR{
    background-color: var(--th-red); 
    padding: 18px; 
    border: solid 2px white;
}
.sidebar ul li div.menu_slider_li_div_clt_th .thG{
    background-color: var(--th-green); 
    padding: 18px; 
    border: solid 2px white;
}
.sidebar ul li div.menu_slider_li_div_clt_th .thB{
    background-color: var(--th-blue); 
    padding: 18px; 
    border: solid 2px white;
}
.sidebar ul li div.menu_slider_li_div_clt_th .thR:hover ,
.sidebar ul li div.menu_slider_li_div_clt_th .thG:hover ,
.sidebar ul li div.menu_slider_li_div_clt_th .thB:hover {
    opacity: 0.9;
    color: var(--main-white);
}

.sidebar a:hover {
    color: var(--item-btn-c);
    background-color: var(--main-bg);
    /*opacity: 0.2;*/
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--main-bl);
    color: var(--main-white);
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    -webkit-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
    padding: 37px 6px;
    background-color: var(--main-bg);
    cursor: pointer;
    width: 63px;
    /*height: 28px;*/
    /*bes*/
    height: 29px;
    margin-right: 6px;
}

#main2 {
    -webkit-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
    padding: 36px 6px;
    background-color: var(--main-white);
    cursor: pointer;
    width: 63px;
    height: 27px;
    margin-right: 6px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

.hamburger {
    width: 35px;
    height: 5px;
    background-color: var(--main-white);
    margin: 6px 0;
}

.hamburger__1 {
    width: 35px;
    height: 5px;
    background-color: var(--main-red);
    margin: 6px 0;
}

.bar1,
.bar2,
.bar3 {
    display: -webkit-box;
    display: flex;
    font-size: 10px;
    padding: 0;
    position: absolute;
    -webkit-appearance: none;
    width: 40px;
    height: 4px;
    border-radius: 7px;
    background-color: var(--main-white);
    -webkit-transition: all 0.2s ease-in;
    -webkit-transform: rotate(0deg);
    color: var(--main-white);
}

.bar1__1,
.bar2__2,
.bar3__3 {
    display: -webkit-box;
    display: flex;
    font-size: 10px;
    padding: 0;
    position: absolute;
    -webkit-appearance: none;
    width: 40px;
    height: 4px;
    border-radius: 7px;
    /*background-color: var(--main-red);*/
    background-color: var(--main-bg);
    -webkit-transition: all 0.2s ease-in;
    -webkit-transform: rotate(0deg);
    color: var(--main-red);
}

.bar2 {
    top: 10px;
}

.bar3 {
    top: 20px;
}

.bar1.active {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -webkit-transition: all 0.5s ease-in;
}

.bar2.active {
    left: 0px;
    background-color: transparent;
    -webkit-transition: all 0.2s ease-in;
}

.bar3.active {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -webkit-transition: all 0.5s ease-in;
}

.bar2__2 {
    top: 10px;
}

.bar3__3 {
    top: 20px;
}

.bar1__1.active {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -webkit-transition: all 0.5s ease-in;
}

.bar2__2.active {
    left: 0px;
    background-color: transparent;
    -webkit-transition: all 0.2s ease-in;
}

.bar3__3.active {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -webkit-transition: all 0.5s ease-in;
}

.main-nav {
    margin-top: 60px;
}

.hamburgerButton {
    display: -webkit-box;
    display: flex;
    position: relative;
    height: 40px;
    left: 12px;
    top: -7px;
    width: 40px;
}

.shoopers {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    /*padding-top: 60px;*/
    /*font-size: 1.875rem;*/
    color: var(--main-bl);
    background-color: var(--main-white);
    opacity: 0.9;
    /*background-color: var(--main-bl);*/
    /*opacity: 0.6;*/
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}
#shcart_topbtn form{
    width: 100%;
    font-size: 0.8rem;
}
#shcart_topbtn .text-cart-empty{
    font-size: large;
    text-align: center;
    padding-top: 10px;
}
.shoopers a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.875rem;
    color: #333948;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.shoopers a:hover {
    color: var(--main-red);
}

.shoopers__2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
    font-size: 1.875rem;
    color: var(--main-bl);
    background-color: var(--main-white);
    opacity: 0.9;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.shoopers__2 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.875rem;
    color: #333948;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.shoopers__2 a:hover {
    color: var(--main-blue);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar__2 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--main-bl);
    color: var(--main-white);
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.herth {
    cursor: pointer;
    padding: 20px 12px;
    /*background-color: var(--main-red);*/
    background-color: var(--main-bg);
    /*bes*/
    height: 63px;
}

.herth #zindex {
    position: relative;
    z-index: 9999;
    font-size: 1rem;
    /*    color: var(--main-red);*/
    color: var(--main-bg);
    top: -40px;
    left: 24px;
    /*text-align: center;*/
    /*    background-color: rgba(255,0,0,0.5);
        border: 2px solid var(--main-white);
        border-radius: 25px;*/

}

.herth__2 {
    cursor: pointer;
    /*background-color: var(--main-red);*/
    background-color: var(--main-bg);
}

.herth__2 #zindex__1 {
    position: relative;
    z-index: 9999;
    font-size: 0.875rem;
    color: var(--main-white);
    top: -68px;
    left: 28px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

/*.slider {
    margin-top: 16px;
    background: url(../img/header.png) no-repeat;
    background: url(/content/custom/IGACashmere/img/header.png) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}*/

.slider__seafood {
    margin-top: 160px;
    margin-bottom: 44px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    background-color: var(--main-white);
    opacity: 0.7;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 1.55%;
    margin-right: 1.55%;
}

.slider__seafood__one {
    padding-left: 22px;
    padding-bottom: 27px;
    align-self: flex-start;
}

.slider__seafood__one .one__food {
    padding-top: 18px;
}

.slider__seafood__one .one__food a,
.slider__seafood__one .one__food a:link ,
.slider__seafood__one .one__food a:visited ,
.slider__seafood__one .one__food a:focus {
    text-decoration: none;
    color: var(--body-txt-c);
}


.slider__seafood__one .one__food .h2 {
    font-size: 1.875rem;
    text-align: left;
    line-height: 1.875rem;
    text-transform: uppercase;
}

.slider__seafood__one .one__food .span {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.slider__seafood__one .one__health {
    padding-top: 22px;
}

.slider__seafood__one .one__health p {
    font-size: 0.875rem;
}

.slider__seafood__two {
    align-self: flex-end;
    padding-bottom: 27px;
    padding-right: 37px;
}

.slider__seafood__two .two__button .button {
    color: var(--main-alt);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.content__product {
    margin-top: 70px;
    word-wrap: break-word;
    padding-left: 1.55%;
    padding-right: 1.55%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.content__product .producted {
    margin-right: 40px;
}

.content__product .producted a {
    font-size: 1.875rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-blue);
}

.content__product .pro {
    padding-top: 11px;
}

.content__product .pro a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--main-blue);
}

.content__chips {
    margin-top: 23px;
    margin-bottom: 94px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e2e2e2;
    word-wrap: break-word;
    padding-left: 1.55%;
    padding-right: 1.55%;
    width: 92.73333333%;
}

.content__chips .chips__img {
    margin-top: 27px;
    margin-left: 23px;
    margin-right: 47px;
    margin-bottom: 60px;
}

.content__chips .chips__content {
    margin-top: 27px;
}

.content__chips .chips__content .chips__original h1 {
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 2.6;
}

.content__chips .chips__content .chips__original p {
    font-size: 0.875rem;
}

.content__chips .chips__content .chips__price {
    margin-top: 36px;
}

.content__chips .chips__content .chips__price p {
    font-size: 1.875rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: var(--main-blue);
}

.content__chips .chips__content .chips__button {
    margin-top: 17px;
}

.content__chips .chips__content .chips__button button {
    background-color: var(--main-blue);
    font-size: 1.125rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: var(--main-white);
    text-transform: uppercase;
    border: none;
    padding: 17px 45px;
    cursor: pointer;
}

.content__chips .chips__content .chips__button button:hover {
    background-color: var(--main-green);
    color: var(--main-blue);
}

.content__productionq {
    margin-top: 5px;
    margin-bottom: 74px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-columns: repeat(5, 1fr);

    grid-column-gap: 6px;
    grid-row-gap: 6px;
    word-wrap: break-word;
    padding-left: 1.55%;
    padding-right: 1.55%;
    width: 96.9%;
}

.content__productionq .items {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 1.55%;
    margin-right: 1.55%;
    width: 96.9%;
    margin-top: 13px;
    margin-left: 66px;
    margin-right: 45px;
    margin-bottom: 13px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.content__productionq .items .prom {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 1.55%;
    margin-right: 1.55%;
    width: 52.73333333%;
    margin-top: 41px;
    margin-bottom: 41px;
}

.content__productionq .items .prom p {
    font-size: 0.875rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
}

.content__productionq .items .buttond {
    margin-top: 41px;
    max-width: 411px;
}

.content__productionq .items .buttond .buttons__dev {
    margin-bottom: 17px;
    margin-left: 15px;
}
.content__productionq .items .buttond .buttons__dev p {
    font-size: 1.875rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: var(--main-blue);
}

.content__productionq .items .buttond button {
    background-color: var(--main-blue);
    font-size: 1.125rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: var(--main-white);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 12px 45px;
}

.content__productionq .items .buttond button:hover {
    background-color: var(--main-green);
    color: var(--main-white);
}

.content__productionq .items .product__image {
    display: -webkit-box;
    display: flex;
}

.content__productionq .items .product__image img {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.content__productionq .prod {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 1.55%;
    margin-right: 1.55%;
}

.content__productionq .prod:nth-child(2n+1) {
    margin-right: -14px;
}

.content__productionq .prod .item__img {
    padding: 8px;
}

.content__productionq a:nth-child(n) {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--main-bl);
}

.content__productionq a:nth-child(n):hover {
    color: var(--main-green);
}

.content__productionq .item__prod {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px var(--c_p_item_prod_brdr);
    margin-top: 7px;
    width: 96.9%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.content__productionq .item__prod:hover {
    box-shadow: 0 0 -6px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px var(--c_p_item_prod_brdr_hvr);
    cursor: pointer;
}

.content__productionq .item__prod .item__production {
    padding-top: 35px;
    padding-bottom: 12px;
}

.content__production {
    margin-top: 5px;
    margin-bottom: 74px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    /*grid-template-columns: repeat(4, 1fr);*/
    /*grid-template-columns: repeat(4, 0.5fr);*/
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    word-wrap: break-word;
    padding-left: 1.55%;
    padding-right: 1.55%;
    width: 96.9%;
}
.content__production .items {
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 1.55%;
    margin-right: 1.55%;
    width: 96.9%;
    margin-top: 13px;
    margin-bottom: 13px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.content__production .items .prom {
    box-sizing: border-box;
    word-wrap: break-word;
    width: 100%;

    /*    margin-left: 1.55%;
        margin-right: 1.55%;
        margin-top: 41px;
        margin-bottom: 41px;*/
}

.content__production .items .prom p {
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    /*bes*/
    max-width: 200px;
    max-height: 100px;
    min-height:3em;
}

.content__production .items .buttond {
    max-width: 411px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.content__production .items .buttond .buttons__dev {
    margin-bottom: 17px;
    margin-left: 15px;
}
.content__production .items .buttond .buttons__dev .dev__one{
    display: flex;
    flex-direction: row;
}
.content__production .items .buttond .buttons__dev .dev__one .one__dev{
    margin-right: 19px;
}

.content__production .items .buttond .buttons__dev .dev__one .one__span{
    text-decoration: line-through;
    margin-top:7px;
}
.content__production .items .buttond .buttons__dev p {
    font-size: 1.875rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: var(--main-blue);
}

.content__production .items .buttond button {
    background-color: var(--item-btn-bg);
    font-size: 1.125rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: var(--item-btn-c);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 12px 45px;
}
/*.content__production .items .buttond button:active,
.content__production .items .buttond button:focus,
.content__production .items .buttond button:focus-within{
    border: none;
}*/
.content__production .prod .items .product__special{
    position: absolute;
    top: .9rem;
    display: flex;
    align-self: flex-end;
}
.content__production .prod .items .product__special img{
    width: 2.75rem;
    height: 2rem;
    margin-left: -18px;
}
.content__production .items .buttond button:hover {
    background-color: var(--main-green);
    color: var(--main-white);
}

.content__production .items .product__image {
    display: -webkit-box;
    display: flex;
    margin-left: -98px;
    /*bes*/
    /*vertical-align: middle;*/
    align-self: center;
}

.content__production .items .product__image img {
    display: -webkit-box;
    display: flex;
    align-self: flex-start;
    -webkit-box-flex: 1;
    flex: 1 1 auto;

    /*bes*/
    /*width:100%;*/

    max-width:150px;
    max-height: 150px;
}

.content__production .prod {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 1.55%;
    margin-right: 1.55%;
    /*bes*/
    /*    max-width:250px;
        max-height: 250px;*/
}

.content__production .prod:nth-child(2n+1) {
    margin-right: -14px;
}

.content__production .prod .item__img {
    padding-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.content__production a:nth-child(n) {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--main-bl);
}

.content__production a:nth-child(n):hover {
    color: var(--main-green);
}

.content__production .item__prod {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px var(--c_p_item_prod_brdr);
    margin-top: 7px;
    width: 96.9%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.content__production .item__prod:hover {
    box-shadow: 0 0 -6px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px var(--c_p_item_prod_brdr_hvr);
    cursor: pointer;
}

.content__production .item__prod .item__production {
    padding-top: 46px;
    padding-left: 0;
    padding-bottom: 12px;
    margin-left: 66px;
}

.contact {
    /*background-color: var(--main-red);*/
    background-color: var(--main-bg);
}

.contact .contacts {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 1.55%;
    margin-right: 1.55%;
    width: 96.9%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 41px;
}

.contact .contacts .contacts__contacted {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 96.9%;
}

.contact .contacts .contacts__contacted .contacted__us p,
.contact .contacts .contacts__contacted .contacted__sites p {
    color: var(--main-white);
}

.contact .contacts .contacts__contacted .contacted__us p {
    font-size: 1.125rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
}

.contact .contacts .contacts__contacted .contacted__sites {
    padding-top: 43px;
    max-width: 300px;
    width: 96.9%;
}

.contact .contacts .contacts__contacted .contacted__sites p {
    font-size: 14px;
}

.contact .contacts .contacts__contacted .contacted__sites a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--main-white);
}

.contact .contacts .contacts__payment {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    align-self: flex-start;
    width: 46.9%;
}

.contact .contacts .contacts__payment p {
    color: var(--main-white);
}

.contact .contacts .contacts__payment .payment__megapay p {
    color: var(--main-white);
    font-weight: bold;
    font-size: 1.125rem;
}

.contact .contacts .contacts__payment .payment__google {
    padding-top: 26px;
}

.contact .contacts .contacts__payment .payment__google a {
    padding-right: 6px;
}

.contact .contacts .contacts__payment .payment__mega {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

/*@media screen and (max-width: 3000px) {
    .content__productionq .items {
        width: 96.9%;
    }
    .content__productionq {
        grid-template-columns: repeat(5, 1fr);
    }
    .content__productionq .items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .content__productionq .prod {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

}*/
@media all and (min-width: 2200px) {
    /*.content__production {*/
    /*    display: grid;*/
    /*    grid-template-columns: repeat(7, 1fr);*/
    /*}*/
    .content__production .items {
        /*        -webkit-box-orient: vertical;
                -webkit-box-direction: reverse;
                flex-direction: column-reverse;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;*/

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;

        /*        margin-top: 1px;
                margin-left: 6px;
                margin-right: 5px;
                margin-bottom: 3px;
                align-self: flex-start;*/
    }
}
/*@media all and (min-width: 1581px) {*/
@media screen and (max-width: 2200px) {

    .optsListG{
        display: grid;
        /*grid-template-rows: repeat(1, 0.5fr);*/
        grid-template-columns: repeat(3, 1fr);
    }
    .content__productionq .items {
        width: 96.9%;
    }
    .content__productionq {
        grid-template-columns: repeat(5, 1fr);
    }

    .content__productionq .items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .content__productionq .prod {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .content__productionq .item__prod {
        width: 96.9%;
    }

    .content__production .items {
        width: 96.9%;
    }
    /*.content__production {
        grid-template-columns: repeat(5, 0.5fr);
    }*/

    .content__production .items {
        /*        -webkit-box-orient: vertical;
                -webkit-box-direction: reverse;
                flex-direction: column-reverse;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;*/

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        margin-top: 6px;
        /*   margin-left: 6px;
          margin-right: 5px;
          margin-bottom: 3px;
          align-self: flex-start;*/
    }

    .content__production .items .prom {
        margin-top: 17px;
        margin-left: 9%;
        margin-bottom: 17px;
        align-self: center;
        display: flex;
        flex: 1 1 auto;
    }

    .content__production .prod {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .content__production .item__prod {
        width: 96.9%;
    }
}
@media screen and (max-width: 1580px) {
    .content__productionq .items {
        width: 96.9%;
    }
    .content__productionq {
        grid-template-columns: repeat(3, 1fr);
    }

    .content__productionq .items {
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;

    }

    .content__productionq .prod {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .content__productionq .item__prod {
        width: 96.9%;
    }

    .content__production .items {
        width: 96.9%;
    }
    /*.content__production {*/
    /*    grid-template-columns: repeat(5, 0.5fr);*/
    /*}*/

    .content__production .items {
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .content__production .prod {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .content__production .item__prod {
        width: 96.9%;
    }
    .content__production .items .prom {
        margin-top: 11px;
        margin-bottom: 10px;
        margin-left: 6px;
        margin-right: 5px;
        /*align-self: flex-start;*/
    }

}

@media screen and (max-width: 1456px) {
    .navigation .logos .logos__search,
    .contact .logos .logos__search {
        display: none;
    }

    .logos__sheet__headers {
        -webkit-box-pack: end;
        justify-content: flex-end;
    }

    .content__chips {
        width: 96.9%;
        /*bes*/
        /*width: 80.9%;*/
    }

    .content__productionq .items {
        -webkit-box-orient: vertical;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .content__productionq .prod {
        width: 96.9%;
    }

    .content__productionq .prod {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .content__productionq .item__prod .item__production {
        margin-left: 6px;
    }

    /*.content__production {*/
    /*    grid-template-columns: repeat(4, 1fr);*/
    /*}*/

    .content__production .items {
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        margin: 13px;
    }

    .content__production .items .prom {
        width: 100%;
    }
    .content__production .prod .items .product__special img {
        margin-left: -9px;
    }
    .content__production .items .prom {
        /*margin-top: 10px;*/
        /*margin-bottom: 10px;*/
        height: 16%;
        padding: 0;
        margin-top: auto;
        margin-bottom: 28px;
    }

    .content__production .prod {
        width: 96.9%;
        /*bes*/
        /*width: 80.9%;*/
    }

    .content__production .prod {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .content__production a:nth-child(n) {
        font-size: 0.85rem;
    }

    .content__production .item__prod .item__production {
        margin-left: 6px;
    }
}

@media screen and (max-width: 1200px) {
    .content__productionq {
        grid-template-columns: repeat(3, 1fr);
    }

    .content__production {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 920px) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .slider__seafood {
        width: 98.56666667%;
    }
    /*    .content__production  {
            grid-template-columns: repeat(3, 1fr);
        }*/

    .content__product {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        margin-top: 20px;
    }

    .content__product {
        width: 92.73333333%;
    }

    .content__chips {
        width: 96.9%;
    }

    .content__chips {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .content__chips .chips__img {
        margin-bottom: 20px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .content__chips .chips__content {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        margin-top: -27px;
        margin-bottom: 20px;
    }

    .content__productionq {
        grid-template-columns: repeat(2, 1fr);
    }

    .content__productionq .items {
        width: 96.9%;
    }

    .content__productionq .items {
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .content__productionq .items .prom {
        margin-bottom: 0;
    }

    .content__productionq .items .buttond {
        margin-top: 12px;
    }

    .content__productionq .items .product__image {
        margin-top: 22px;
    }

    .content__productionq .prod {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: center;
        justify-content: center;
        width: 100vh;
    }

    .content__productionq .prod {
        width: 96.9%;
    }

    .content__productionq .prod .item__img {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .content__productionq .item__prod {
        width: 96.9%;
    }

    /*.content__production {*/
    /*    grid-template-columns: repeat(3, 1fr);*/
    /*}*/

    .content__production .items {
        width: 96.9%;
    }

    .content__production .items {
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    /*bes*/
    /*    .content__production .items .prom {
            margin-bottom: 0;
        }*/

    .content__production .items .buttond {
        margin-top: auto;
        margin-bottom: 3px;
    }

    /*.content__production .items .product__image {*/
    /*    margin-top: 22px;*/
    /*}*/

    .content__production .prod {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: center;
        justify-content: center;
        width: 100vh;
    }

    .content__production .prod {
        width: 96.9%;
    }

    .content__production .prod .item__img {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .content__production .item__prod {
        width: 96.9%;
    }

    .contact .contacts {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        align-content: center;
    }

    .contact .contacts .contacts__contacted {
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .contact .contacts .contacts__contacted .contacted__sites {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .contact .contacts .contacts__contacted .contacted__sites {
        width: 63.56666667%;
    }

    .contact .contacts .contacts__payment {
        width: 63.56666667%;
    }

    .contact .contacts .contacts__payment {
        align-self: center;
    }

    .contact .contacts .contacts__payment .payment__megapay {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        margin-top: 18px;
    }

    .contact .contacts .contacts__payment .payment__google {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .contact .contacts .contacts__payment .payment__mega {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

@media all and (min-width: 740px) {
    .iopt_list_gc1{grid-template-columns: repeat(1, 1fr);}
    .iopt_list_gc2{grid-template-columns: repeat(2, 1fr);}
    .iopt_list_gc3{grid-template-columns: repeat(3, 1fr);}
    .iopt_list_gc4{grid-template-columns: repeat(4, 1fr);}
}
@media screen and (max-width: 740px) {
    .navigation .logos .logos__search form,
    .contact .logos .logos__search form {
        width: 38.56666667%;
    }

    .navigation .logos .logos__search input,
    .contact .logos .logos__search input {
        width: 63.56666667%;
    }

    .navigation .logos .logos__search button,
    .contact .logos .logos__search button {
        right: -242px;
    }

    .logos__sheet__headers {
        -webkit-box-pack: end;
        justify-content: flex-end;
        /*bes*/
        height: 28px;
    }
    /*    bes
        .logos__header {
            background-color: var(--main-bg);
            height: 28px;
        }*/

    .content__productionq {
        grid-template-columns: 1fr;
    }

    .content__productionq .item__prod {
        width: 96.9%;
    }

    .content__production {
        grid-template-columns: repeat(2, 1fr);
    }

    .content__production .item__prod {
        width: 96.9%;
    }
    .iopt_list_gc1{grid-template-columns: repeat(1, 1fr);}
    .iopt_list_gc2{grid-template-columns: repeat(2, 1fr);}
    .iopt_list_gc3{grid-template-columns: repeat(2, 1fr);}
    .iopt_list_gc4{grid-template-columns: repeat(3, 1fr);}
}

@media screen and (max-width: 576px) {
    /*.herth #zindex{*/
    /*    left: 5px;*/
    /*}*/
    /*.herth__2 #zindex__1 {*/
    /*    left: 1px;*/
    /*}*/
    .navigation .logos .logos__search form,
    .contact .logos .logos__search form {
        width: 63.56666667%;
    }

    .logos__sheet__headers {
        -webkit-box-pack: end;
        justify-content: flex-end;
    }

    .slider {
        /*        background: url(../img/header.png) no-repeat center center;*/
    }

    .slider__seafood {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .content__productionq .item__prod {
        width: 96.9%;
    }

    .content__production {
        grid-template-columns: repeat(2, 1fr);
    }

    .content__production .item__prod {
        width: 96.9%;
    }
    .iopt_list_gc1{grid-template-columns: repeat(1, 1fr);}
    .iopt_list_gc2{grid-template-columns: repeat(2, 1fr);}
    .iopt_list_gc3{grid-template-columns: repeat(2, 1fr);}
    .iopt_list_gc4{grid-template-columns: repeat(2, 1fr);}
}

@media screen and (max-width: 490px) {
    .content__production {
        grid-template-columns: repeat(2, 1fr);
    }
    .content__production .items .product__image {
        margin-top: 24px;
        margin-left: 31px;
    }
    .content__production .prod .items .product__special {
        display: flex;
        align-self: flex-end;

    }
    .content__production .items .product__image {
        display: -webkit-box;
        display: flex;
        vertical-align: middle;
        justify-content: flex-start;
        align-self: flex-start;
    }
    .iopt_list_gc1,
    .iopt_list_gc2,
    .iopt_list_gc3,
    .iopt_list_gc4{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 420px) {
    .navigation .logos .logos__search form,
    .contact .logos .logos__search form {
        width: 80.23333333%;
    }
    .content__production .items .product__image {
        margin-top: 10px;
        margin-left: -3px;
    }
    .logos__sheet__headers {
        -webkit-box-pack: end;
        justify-content: flex-end;
    }

    .content__chips .chips__content .chips__original h1 {
        font-size: 1.5rem;
    }

    .contact .contacts .contacts__payment .payment__google {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
    }
    .iopt_list_gc1,
    .iopt_list_gc2,
    .iopt_list_gc3,
    .iopt_list_gc4{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 320px) {
    .logos__sheet__headers {
        -webkit-box-pack: end;
        justify-content: flex-end;
    }
    .iopt_list_gc1,
    .iopt_list_gc2,
    .iopt_list_gc3,
    .iopt_list_gc4{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

    .sidebar__2 {
        padding-top: 15px;
    }

    .sidebar__2 a {
        font-size: 18px;
    }

    .shoopers {
        /*padding-top: 15px;*/
    }

    .shoopers a {
        font-size: 18px;
    }

    .shoopers__2 {
        padding-top: 15px;
    }

    .shoopers__2 a {
        font-size: 18px;
    }
}

/*img_main_basket*/
.img_main_basket {
    /*    float:left;
        margin: 3px 3px 3px 0;
    
        min-width: 100px;
        min-height: 100px;
        max-width: 100px;
        max-height: 100px;*/
    /*byhunter*/
    width:auto; 
    text-align:center; 
    padding:2px; 
    max-width:calc(var(--img_itemlist_max_w));
    max-height:calc(var(--img_itemlist_max_w));
}

#shcart_topbtn_html .tbl {
    /*padding:4px;*/
    /*margin-left: 4px;*/
    margin-bottom: 8px;
    margin-top: 8px;
    /*background-color: yello;*/
    width:100%;
}

/*even odd tables in item list*/
#shcart_topbtn_html .row_even_odd{
    border: none;
    /*width:100%;*/
    /*height:100%;*/
    /*border-collapse:collapse;*/ 
    /*background: #ccc;*/
}
#shcart_topbtn_html .icon_remove{
    display: flex;
    position: relative;
    right: 0px;
    top: 0px;
    content: "\2715"; 
    color: red;
}

#shcart_topbtn_html .box{
    /*-webkit-box-shadow: 0 6px 4px -4px rgba(0,0,0,.2);*/
    /*-moz-box-shadow: 0 6px 4px -4px rgba(0,0,0,.2);*/
    /*padding-bottom: 10px;*/
    padding-top: 10px;
}
#shcart_topbtn_html .boxclose{
    float:right;

    margin-top:-5px;
    margin-right:-3px;
    cursor:pointer;
    color: #fff;
    /*border: 1px solid #AEAEAE;*/
    border-radius: 30px;
    background: red;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 16px 8px;       
    -webkit-box-shadow: 0 6px 4px -4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 6px 4px -4px rgba(0,0,0,.2);

}

#shcart_topbtn_html .boxclose:before {
    content: "×";

}
#shcart_topbtn_html .row_even_odd td{ 
    /*padding:7px;*/
    /*border:#4e95f4 1px solid;*/
}
/* provide some minimal visual accomodation for IE8 and below */
#shcart_topbtn_html .row_even_odd tr{
    background: #fff;
    border: transparent 3px solid;
}
#shcart_topbtn_html .row_even_odd > tbody > tr{
    /*    -webkit-box-shadow: 0px 0px 2px 0px var(--alt2);
        -moz-box-shadow: 0px 0px 2px 0px var(--alt2);
        box-shadow: 0px 0px 2px 0px var(--alt2);*/
}

#shcart_topbtn_html .row_even_odd > tbody > tr:nth-child(odd){ 
    /*background: var(--sldr-t-odd);*/
}
#shcart_topbtn_html .row_even_odd > tbody > tr:nth-child(even){
    /*background: var(--sldr-t-even);*/
}
/*even odd tables in item list*/

#shcart_topbtn_html .tbl_iopt {
    /*padding:4px;*/
    margin-left: 4px;
    width:100%;
}


#shcart_topbtn div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /*background-color: yellow;*/
    background-color: var(--mm-hdr-bg);
    font-size: 20px;
    width: 100%;
    display: flex;
    text-align: center;
}

#shcart_topbtn div.sticky .pay ,
#shcart_topbtn div.sticky .clear {
    text-transform: uppercase;
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,.2); 
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2); 
    width: 100%;
    padding-top: 20px; 
    padding-bottom: 20px; 
    -webkit-box-shadow: 0 6px 4px -4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 6px 4px -4px rgba(0,0,0,.2);
    box-shadow: 0 6px 4px -4px rgba(0,0,0,.2);
    color: var(--main-white);
}
#shcart_topbtn div.sticky .pay {
    margin-right: 2px;   
    background: var(--main-green);
}
#shcart_topbtn div.sticky .clear {
    margin-left: 2px; 
    background: var(--main-red);
}

.bodyCanvasNav_overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    /*background-color: rgba(153, 0, 0, 1);*/
    background-color: var(--main-bg);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}
.bodyCanvasNav_overlay .msg{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    padding: 10px;
}
.bodyCanvasNav_overlay .success{
    color: white;
}
.bodyCanvasNav_overlay .failed{
    color: white;
}

#CartPayF .chip {
    /*display: inline-block;*/
    display: block;
    padding: 0 25px;
    padding-bottom: 4px;
    padding-top: 4px;
    /*height: 50px;*/
    /*font-size: 18px;*/
    /*line-height: 50px;*/
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #f1f1f1;
    /*padding: 20px;*/
    /*margin: 10px;*/
    -webkit-box-shadow: 0 6px 4px -4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 6px 4px -4px rgba(0,0,0,.2);

}

#CartPayF .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#CartPayF .chip .price{
    text-align: right;
    font-size: 14px;
}
#CartPayF .chip .label_txt {
    display: block;
    text-transform: uppercase;
    color: var(--body-txt-c);
    font-size: 14px;
    margin-bottom: 1em;
}
#CartPayF .chip ol li {
    color: var(--body-txt-c);
}

.slider__seafood__one .one__food .home-ico {
    color: var(--main-bg);

}

.iolist {
    padding-top: 10px;
}
.iolist .opm_I_Os_o{
    background-color: whitesmoke;
    margin: 1px;
}

.iolist .opm_I_Os_o .opm_i_Row:first-child{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.iolist .opm_I_Os_o .opm_i_Row:last-child{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.iolist .opm_I_Os_o .opm_i_Row{
    padding : 4px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.iolist .ID_O_lbl {
    display: block;
    /*border-top-left-radius: 4px;*/
    /*border-top-right-radius: 4px;*/
    /*width: 100%;*/
    /*color: black;*/
    /*text-transform: uppercase;*/
    padding-bottom: 4px;
    padding-top:  4px;

    background-color: #ddd;
    text-align: left;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
